body {
  /* Prevent the user selecting text in the example */
  user-select: none;
}

.example-parent {
  border: 2px solid #dfa612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.list {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid black;
}

.example-draggable {
  background-color: #4aae9b;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

#draggable {
  text-align: center;
  background: white;
}

.dropzone {
  width: 200px;
  min-height: 20px;
  background: blueviolet;
  margin: 10px;
  padding: 10px;
}
